$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
	height: 100%;
	margin: 0px;
}

body, p {
	margin: 0;
	padding: 0;
}

.fill {
	height: 100%;
	width: 100%;
	margin: 0px;
}

.container-fluid, .row {
	height: 100%;
}

.msgs-col {
	display:table;
	table-layout: fixed;
	background-color: black;
}

// side by side
@media screen and (min-aspect-ratio: 4/3) {
	.msgs-col {
		width: 30%;
		max-width: 30%;
		height: 100%;
		float: right;
	}

	.stream-col {
		width: 70%;
		height: 100%;
		float: left;
	}
}

// vertical
@media screen and (max-aspect-ratio: 4/3) {
	.msgs-col {
		width: 100%;
		height: 30%;
		float: none;
	}

	.stream-col {
		width: 100%;
		height: 70%;
		float: none;
	}
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center-parent {
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#videoUrl {
	max-width: 600px;
	min-width: 320px;
}

#msgs-wrapper1 {
	display:table-row;
	height: 100%;
}

#msgs-wrapper2 {
	position: relative;
	overflow-y: scroll;
	height: 100%;
}

#msgs {
	position: absolute;
	height: 100%;
	word-wrap:break-word;
}

#controls {
	display:table-row;
	color: #999;
	//margin: 10px;
}

#controls .glyphicon {
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#control-menu {
	position: absolute;
	top: 0;
	color: #ddd;
	background-color: #222;
	min-width: 280px;
	padding: 5px;
	z-index: 9000;
}

#control-menu-container {
	position: relative;
	width: 0;
	height: 0;
}

#control-menu-btn {
}


.nick {
	font-weight: bold;
	color: #ddd;
}

.msg {
	color: #999;
}
